<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @blog.logo}}
            <a class="site-nav-logo" href="https://www.pp.io"><img src="/assets/logo.png" alt="{{@blog.title}}" /></a>
            <!-- <a class="site-nav-logo" href="{{@blog.url}}"><img src="/assets/logo.png" alt="{{@blog.title}}" /></a> -->
        {{else}}
            <a class="site-nav-logo" href="https://www.pp.io">{{@blog.title}}</a>
            <!-- <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a> -->
        {{/if}}

    </div>
    <div class="site-nav-right">
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</nav>
