<nav class="site-nav {{class_suffix}}">
    <div class="site-nav-left">
        {{#if @blog.logo}}
            <a class="site-nav-logo" href="{{@blog.url}}"><img src="/assets/logo_blog{{logo_suffix}}.png" alt="{{@blog.title}}" /></a>
        {{else}}
            <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
        {{/if}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
          <a href="{{@blog.url}}/rss/" class="social-link social-link-github" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        </div>
    </div>
</nav>
